*
{
    font-family: "Segoe UI";
    font-size: 20px;
    color: white;
}

QWidget[accessibleName="MainWindow"]
{
    background-color: #212121;
}

QTextEdit
{
    background-color: white;
    color: black;
    text-align: right;
}

QLabel
{
    background-color: white;
}

QPushButton
{
    height: 25px;
    width: 25px;
    padding: 10px;
    background-color: #212121;
    border: none;
}

QPushButton:hover
{
    background-color: #1e1e1e;
}


QPushButton[accessibleName="MemoryButton"]
{
    background-color: #F4511E;
    color: white;
    margin: 0px;
    padding: 5px;
    border: none;
    font-size: 15px;
}

QPushButton[accessibleName="MemoryButton"]:hover
{
    background-color: #BF360C;
}

QPushButton[accessibleName="AdvancedButton"]
{
    background-color: #191919;
    color: white;
    margin: 0px;
    padding: 5px 10px;
    border: none;
    font-size: 13px;
}

QPushButton[accessibleName="AdvancedButton"]:hover
{
    background-color: #161616;
}

QPushButton[accessibleName="ButtonBottomRow"]
{
    margin-bottom: 10px;
}
